extends layout

block content 
    form(id='form' method='post' action='/edit/' + users._id)
        //- username
        label(for='username') Username: 
        input(type='text' name='username' value=users.username)
        br
        //- email
        label(for='email') Email:
        input(type='text' name='email' value=users.email)
        br
        //- age
        label(for='age') Age:
        input(type='text' name='age' value=users.age)
        br
        //- password
        label(for='password') Password:
        input(type='text' name='password' value="")
        br
        
        input(type='submit' value='Update User')
        br
        br
        a(href='/index/' + users._id) Cancel