extends layout 

block content
    table(class = 'gridtable')
        br
        th                     
                a(href='/edit/' + users._id) Edit info
        th 
                a(href='/delete/' + users._id) Delete Account

        tr
            th Username
                td #{users.username}
            
        tr
            th Age
                td #{users.age}
        tr
            th Email
                td #{users.email}
            
    a(href="/chess/" + users._id)
        button(type=button) Play Chess
    a(href="/logout")
            button(type="button") Log Out
    
