doctype 
html
    head
        title=title
        link(href='/loginstyle.css' rel='stylesheet')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet")
    body
        h3=title
        block content
            form(action="/login" method="POST")
                h3 Login
                //- label(for='username') Username: 
                input(type='text' name='username' placeholder='Username')
                br
                //- label(for='password') Password: 
                input(type='text' name='password' placeholder='Password')
                br
                input(type='submit' value='Login' name='submitBtn')
                br
                p #[strong Don't have an account? #[a(href="/create") Sign Up]]
            
