head
  title Play Chess
  meta(charset='UTF-8')
  link(rel='stylesheet', href='/playchessstyle.css')
  include /chess.js;

h1 Chess

canvas#chessCanvas(width='400' height='400')

#gold
  h2 Gold pieces lost:
  h3#GOLDCasualities

#silver
  h4 Silver pieces lost:
  h5#SILVERCasualities

#gameStats
  h6#currentTeamText
  h7#totalVictories
  a(href="/logout")
   button(type="button") Log Out
